@use "sass:color";
@import "reset";
@mixin bigsize {
  // je mets 600 px pour l'instant car mon écran est petit mais je veux voir le rendu
  @media only screen and (min-width: 600px) {
    @content;
  }
}
* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}
html {
  background-color: #ccd9ff;
}
